@media (max-width: 1000px) {
  .top {
    width: auto;
    height: auto;
    margin-bottom: 50px;
  }
}


@media (max-width: 670px) {
  .top {
    width: auto;
    height: auto;
  }

  .header-list {
    display:none;
  }

  .menu-icon {
    display: block;

  }


img {
  width:100%;
  max-width: 100%;
  height: auto;

}


  .container-profile {
    color: #FF6663;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  p {
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;

  }


  .container-work {
    color: #FF6663;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .container-about {
    color: #FF6663;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
