@media (max-width: 1000px) {
  .top {
    width: 1000px;
    height: auto;
    margin-bottom: 50px;
  }

  .header-logo a {
    float: left;
    font-weight: bold;
    color: #FF6663;
    font-size: 25px;
    padding-top: 15px;
    padding-left: 40px;
  }


  .header-list a {
    font-size: 25px;
    float: right;
    color: #FF6663;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 20px;

  }

  p {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;

  }



@media (max-width: 670px) {
  .top {
    width: 670px;
    height: auto;
  }



  .header-logo a {
    font-weight: bold;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 0px;

  }




  .header-list ul {
    font-size: 0;
    text-align: center;

  }

  .header-list a {
    flex-direction: row-reverse;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 20px;
    color: #FF6663;

  }



.top img {
  margin-top: 0;
}


img {
  width:100%;
  max-width: 100%;
  height: auto;

}


  .container-profile {
    color: #FF6663;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  p {
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;

  }


  .container-work {
    color: #FF6663;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .container-work a {
    background-color: #FF6663;
    color: #fff;
  }

  .container-about {
    color: #FF6663;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .container-about a {
    background-color: #FF6663;
    color: #fff;
  }
