body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #2DC2AC;
  color: #fff;
  height: 50px;


}

.header-logo {
  float: left;
  font-size: 25px;
  padding: 10px 40px;
}

.header-list li {
  float: right;
  padding: 15px 20px;
}

.title {
  color: #2DC2AC;
  text-align: center;
}

.main {
  padding: 30px 80px;
  text-align: center;
}
