* {
  box-sizing: border-box;
  text-decoration: none;


}



body {
  font-family: "Avenir Next";
  word-break: break-all;

}




.header {
  background-color: #fff;
  color: #FF6663;
  height: 50px;
  margin: 0px;
  padding: 0px;

}


.header-logo a {
  float: left;
  font-weight: bold;
  color: #FF6663;
  font-size: 25px;
  padding: 20px 20px;
}



.header-list a {
  float: right;
  font-weight: bold;
  color: #FF6663;
  font-size: 20px;
  padding: 20px 20px;

}



.top {
  width: 100%;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.container-profile {
  color: #FF6663;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

p {
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 50px;
  text-align: justify;

}

main a {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #FF6663;
  color: #fff;
}


.container-work {
  color: #FF6663;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

.container-about {
  color: #FF6663;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}





footer {
  border-top: thin solid #FF6663;
  background-color: #fff;
  text-align: center;
  color: #FF6663;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 70px;

}

footer p {
  text-align: center;
}
